<div class="footer-container">

{% if page.lang == 'en' %}
<div class="footerblock-1">
	<h3>Product</h3>
		<ul>
			<li><a href="/en/solutions/">Solutions</a></li>
			<li><a href="/en/low-code-bpm-software-technology/">Technology</a></li>
			<li><a href="/en/workflow-management-software-features/">Features</a></li>
			<li><a href="/en/pricing-workflow-management-software/">Pricing</a></li>
			<li><a href="https://discuss.workflowgen.com/c/announcements/release-notes" target="_blank">Downloads</a></li>
			<li><a href="https://discuss.workflowgen.com/c/announcements/release-notes" target="_blank">Release Notes</a></li>
			<li><a href="/en/workflow-software-documentation/">Documentation</a></li>
		</ul>
	</div>

	<div class="footerblock-2">
		<h3>Resources</h3>
			<ul>
				<li><a href="https://discuss.workflowgen.com/t/start-your-project/647" target="_blank">Start your project</a></li>
				<li><a href="https://discuss.workflowgen.com/" target="_blank">Knowledge Base</a></li>
				<li><a href="https://www.youtube.com/c/workflowgen" target="_blank">Videos</a></li>
				<li><a href="https://github.com/advantys/workflowgen-templates/tree/master/processes/en" target="_blank">Process Library</a></li>
				<li><a href="/en/professional-services/">Professional Services</a></li>
				<li><a href="/en/support/">Support</a></li>
			</ul>
		</div>

		<div class="footerblock-3">
		<h3>Connect</h3>
			<ul>
				<li><a href="/en/contact/">Contact</a></li>
				<li><a href="https://discuss.workflowgen.com/" target="_blank">Forum</a></li>
				<li><a href="https://calendly.com/wfgen" target="_blank">Free Webinars</a></li>
				<li><a href="https://medium.com/workflowgen" target="_blank">Blog</a></li>
				<li><a href="/en/newsletter/">Newsletter</a></li>
				<li><a href="/en/workflowgen-oem-integration/">OEM-VAR</a></li>
			</ul>
		</div>

	<div class="footerblock-4">
		<h3>Company</h3>
			<ul>
				<li><a href="/en/about-workflowgen-advantys/">About Us</a></li>
				<li><a href="/en/bpm-software-customers/">Customers</a></li>
				<li><a href="https://medium.com/workflowgen/tagged/customer-success" target="_blank">Case Studies</a></li>
				<li><a href="/en/bpm-workflow-software-news/">Press</a></li>
			</ul>
		</div>

<div class="social">
	<a href="https://twitter.com/workflowGenApp" class="twitter" target="_blank"></a>
	<a href="https://www.linkedin.com/company/advantys" class="linkedin" target="_blank"></a>
	<a href="https://www.facebook.com/workflowgen" class="facebook" target="_blank"></a>
	<a href="https://www.youtube.com/c/workflowgen" class="yt" target="_blank"></a>
	<a href="https://plus.google.com/+Workflowgen" class="googleplus" target="_blank"></a>
	<a href="https://medium.com/workflowgen" class="medium" target="_blank"></a>
</div>

<div class="footer-wfg-definition">
	<p>WorkflowGen is a leading digital process automation solution that lets organizations and IT providers design and deploy business-critical, process-driven web and mobile applications.</p>
</div>

<div class="copyrights"><p>Copyright © 2018, ADVANTYS. All rights reserved - <a href="/en/terms-of-use/">Terms of use </a>-<a href="/en/privacy-policy/"> Privacy policy</a></p></div>

<div class="copyrights-m"><p>Copyright © 2018, ADVANTYS.<br />All rights reserved<br /><a href="/en/terms-of-use/">Terms of use </a>-<a href="/en/privacy-policy/"> Privacy policy</a></p></div>
{% endif %}

{% if page.lang == 'fr' %}
<div class="footerblock-1">
	<h3>Product</h3>
		<ul>
			<li><a href="/fr/solutions/">Solutions</a></li>
			<li><a href="/fr/technologie-logiciel-bpm/">Technologie</a></li>
			<li><a href="/fr/fonctionnalites-logiciel-gestion-workflow/">Fonctionnalités</a></li>
			<li><a href="/fr/tarif-logiciel-gestion-workflow/">Tarif</a></li>
			<li><a href="https://discuss.workflowgen.com/c/announcements/release-notes" target="_blank">Téléchargements</a></li>
			<li><a href="https://discuss.workflowgen.com/c/announcements/release-notes" target="_blank">Notes de version</a></li>
			<li><a href="/fr/documentation-logiciel-workflow/">Documentation</a></li>
		</ul>
	</div>

	<div class="footerblock-2">
		<h3>Ressources</h3>
			<ul>
				<li><a href="https://discuss.workflowgen.com/t/start-your-project/647" target="_blank">Commencez votre projet</a></li>
				<li><a href="https://discuss.workflowgen.com" target="_blank">Base de connaissances</a></li>
				<li><a href="https://www.youtube.com/c/workflowgen" target="_blank">Vidéos</a></li>
				<li><a href="https://github.com/advantys/workflowgen-templates/tree/master/processes/fr" target="_blank">Bibliothèque de processus</a></li>
				<li><a href="/fr/services-professionnels/">Services professionnels</a></li>
				<li><a href="/fr/support/">Support</a></li>
			</ul>
		</div>

	<div class="footerblock-3">
		<h3>Suivre</h3>
			<ul>
				<li><a href="/fr/contact/">Contact</a></li>
				<li><a href="https://discuss.workflowgen.com" target="_blank">Forum</a></li>
				<li><a href="https://calendly.com/wfgen" target="_blank">Webinars gratuits</a></li>
				<li><a href="https://medium.com/workflowgen" target="_blank">Blog</a></li>
				<li><a href="/fr/infolettre/">Infolettre</a></li>
				<li><a href="/fr/workflowgen-integration-oem/">OEM-VAR</a>
			</ul>
		</div>

		<div class="footerblock-4">
		<h3>Compagnie</h3>
			<ul>
				<li><a href="/fr/a-propos-workflowgen-advantys/">À propos</a></li>
				<li><a href="/fr/clients-logiciel-bpm/">Clients</a></li>
				<li><a href="https://medium.com/workflowgen/tagged/customer-success/" target="_blank">Études de cas</a></li>
				<li><a href="/fr/actualites-bpm-logiciel-workflow/">Presse</a></li>
			</ul>
		</div>

<div class="social">
	<a href="https://twitter.com/workflowGenApp" class="twitter" target="_blank"></a>
	<a href="https://www.linkedin.com/company/advantys" class="linkedin" target="_blank"></a>
	<a href="https://www.facebook.com/workflowgen" class="facebook" target="_blank"></a>
	<a href="https://www.youtube.com/c/workflowgen" class="yt" target="_blank"></a>
	<a href="https://plus.google.com/+Workflowgen" class="googleplus" target="_blank"></a>
	<a href="https://medium.com/workflowgen" class="medium" target="_blank"></a>
</div>

<div class="footer-wfg-definition">
	<p>WorkflowGen est une solution leader d’automatisation de processus digitaux, permettant de déployer des applications stratégiques orientées processus sous plateformes Web et mobiles.</p>
</div>

<div class="copyrights"><p>Copyright © 2018, ADVANTYS. Tous droits réservés - <a href="/fr/conditions-utilisation/">Conditions d'utilisation </a>-<a href="/fr/politique-confidentialite/"> Politique de confidentialité</a></p></div>

<div class="copyrights-m"><p>Copyright © 2018, ADVANTYS.<br />Tous droits réservés<br/><a href="/fr/conditions-utilisation/">Conditions d'utilisation </a>-<a href="/fr/politique-confidentialite/"> Politique de confidentialité</a></p></div>
{% endif %}

{% if page.lang == 'es' %}
<div class="footerblock-1">
	<h3>Producto</h3>
		<ul>
			<li><a href="/es/tecnologia-software-bpm/">Tecnologías</a></li>
			<li><a href="/es/funcionalidades-software-gestion-workflow/">Funcionalidades</a></li>
			<li><a href="/es/tarifa-software-gestion-flujo-de-trabajo/">Precios</a></li>
			<li><a href="https://discuss.workflowgen.com/c/announcements/release-notes" target="_blank">Descargas</a></li>
			<li><a href="https://discuss.workflowgen.com/c/announcements/release-notes" target="_blank">Notas de publicación</a></li>
			<li><a href="/es/documentacion-software-flujo-de-trabajo/">Documentación</a></li>
		</ul>
	</div>

	<div class="footerblock-2">
		<h3>Recursos</h3>
			<ul>
				<li><a href="https://discuss.workflowgen.com/t/start-your-project/647" target="_blank">Empiece su proyecto</a></li>
				<li><a href="https://discuss.workflowgen.com/" target="_blank">Base de conocimientos</a></li>
				<li><a href="https://www.youtube.com/c/workflowgen" target="_blank">Videos</a></li>
				<li><a href="https://github.com/advantys/workflowgen-templates/tree/master/processes/en" target="_blank">Librería de procesos</a></li>
				<li><a href="/en/professional-services/">Servicios Profesionales</a></li>
				<li><a href="/en/support/">Soporte</a></li>
			</ul>
		</div>

		<div class="footerblock-3">
		<h3>Conectar</h3>
			<ul>
				<li><a href="/es/contacto/">Contacto</a></li>
				<li><a href="https://discuss.workflowgen.com/" target="_blank">Foro</a></li>
				<li><a href="https://calendly.com/wfgen" target="_blank">Webinars gratuitos</a></li>
				<li><a href="https://medium.com/workflowgen" target="_blank">Blog</a></li>
				<li><a href="/en/newsletter/">Boletín</a></li>
				<li><a href="/en/workflowgen-oem-integration/">OEM-VAR</a>
			</ul>
		</div>

	<div class="footerblock-4">
		<h3>Compañía</h3>
			<ul>
				<li><a href="/en/about-workflowgen-advantys/">Nosotros</a></li>
				<li><a href="/es/clientes-software-bpm/">Clientes</a></li>
				<li><a href="https://medium.com/workflowgen/tagged/customer-success" target="_blank">Casos de estudio</a></li>
				<li><a href="/en/bpm-workflow-software-news/">Prensa</a></li>
			</ul>
		</div>

<div class="social">
	<a href="https://twitter.com/workflowGenApp" class="twitter" target="_blank"></a>
	<a href="https://www.linkedin.com/company/advantys" class="linkedin" target="_blank"></a>
	<a href="https://www.facebook.com/workflowgen" class="facebook" target="_blank"></a>
	<a href="https://www.youtube.com/c/workflowgen" class="yt" target="_blank"></a>
	<a href="https://plus.google.com/+Workflowgen" class="googleplus" target="_blank"></a>
	<a href="https://medium.com/workflowgen" class="medium" target="_blank"></a>
</div>

<div class="footer-wfg-definition">
	<p>WorkflowGen es una solución líder en la automatización digital de procesos, que permite a las organizaciones y proveedores de tecnologías el diseño e implementación de aplicaciones web y móbiles para manejar procesos de negocio críticos.</p>
</div>

<div class="copyrights"><p>Derechos de autor © 2018, ADVANTYS. Todos los derechos reservados - <a href="/en/terms-of-use/">Términos de uso </a>-<a href="/en/privacy-policy/"> Política de privacidad</a></p></div>

<div class="copyrights-m"><p>Derechos de autor © 2018, ADVANTYS.<br />Todos los derechos reservados<br /><a href="/en/terms-of-use/">Términos de uso </a>-<a href="/en/privacy-policy/"> Política de privacidad</a></p></div>
{% endif %}

{% if page.lang == 'zh-Hans' %}
<div class="footerblock-1">
	<h3>产品</h3>
		<ul>
			<li><a href="/zh-hans/low-code-bpm-software-technology/">技术</a></li>
			<li><a href="/zh-hans/workflow-management-software-features/">特征</a></li>
			<li><a href="/zh-hans/pricing-workflow-management-software/">定价</a></li>
			<li><a href="https://discuss.workflowgen.com/c/announcements/release-notes" target="_blank">下载</a></li>
			<li><a href="https://discuss.workflowgen.com/c/announcements/release-notes" target="_blank">发行注释</a></li>
			<li><a href="/zh-hans/workflow-software-documentation/">文件</a></li>
		</ul>
	</div>

	<div class="footerblock-2">
		<h3>资源</h3>
			<ul>
				<li><a href="https://discuss.workflowgen.com/t/start-your-project/647" target="_blank">开始您的项目</a></li>
				<li><a href="https://discuss.workflowgen.com/" target="_blank">知识库</a></li>
				<li><a href="https://www.youtube.com/c/workflowgen" target="_blank">视频文件</a></li>
				<li><a href="https://github.com/advantys/workflowgen-templates/tree/master/processes/en" target="_blank">工艺库</a></li>
				<li><a href="/en/professional-services/">专业服务</a></li>
				<li><a href="/en/support/">支持</a></li>
			</ul>
		</div>

		<div class="footerblock-3">
		<h3>连接</h3>
			<ul>
				<li><a href="/zh-hans/contact/">联系</a></li>
				<li><a href="https://discuss.workflowgen.com/" target="_blank">论坛</a></li>
				<li><a href="https://calendly.com/wfgen" target="_blank">免费在线研讨会</a></li>
				<li><a href="https://medium.com/workflowgen" target="_blank">博客</a></li>
				<li><a href="/en/newsletter/">时事通讯</a></li>
				<li><a href="/en/workflowgen-oem-integration/">OEM-VAR</a>
			</ul>
		</div>

	<div class="footerblock-4">
		<h3>公司</h3>
			<ul>
				<li><a href="/en/about-workflowgen-advantys/">关于我们</a></li>
				<li><a href="/zh-hans/bpm-software-customers/">客户</a></li>
				<li><a href="https://medium.com/workflowgen/tagged/customer-success" target="_blank">案例研究</a></li>
				<li><a href="/en/bpm-workflow-software-news/">媒体</a></li>
			</ul>
		</div>

<div class="social">
	<a href="https://twitter.com/workflowGenApp" class="twitter" target="_blank"></a>
	<a href="https://www.linkedin.com/company/advantys" class="linkedin" target="_blank"></a>
	<a href="https://www.facebook.com/workflowgen" class="facebook" target="_blank"></a>
	<a href="https://www.youtube.com/c/workflowgen" class="yt" target="_blank"></a>
	<a href="https://plus.google.com/+Workflowgen" class="googleplus" target="_blank"></a>
	<a href="https://medium.com/workflowgen" class="medium" target="_blank"></a>
</div>

<div class="footer-wfg-definition">
	<p>WorkflowGen，一个领先的自动化数字流程解决方案，企业以及IT供应商能为核心关键业务设计部署流程化web和移动应用</p>
</div>

<div class="copyrights"><p>版权 © 2018 ADVANTYS所有。保留所有权利 - <a href="/en/terms-of-use/">使用条款 </a>-<a href="/en/privacy-policy/"> 隐私权政策</a></p></div>

<div class="copyrights-m"><p>版权 © 2018 ADVANTYS所有。<br />保留所有权利<br /><a href="/en/terms-of-use/">使用条款 </a>-<a href="/en/privacy-policy/"> 隐私权政策</a></p></div>
{% endif %}

</div>
