$textcolor: #000;
$titlecolor: #000;
$textcolor-light: #878e98;

$linkcolor: #2196f3;
$linkcolor-hover: #097dcc;

$menulink: #000;
$menulink-hover: #696e75;

$fakebrowser: #696e75;

$siteborder: #e1e3e5;

$light-grey-bg: #EAECEF;

$green: #00bf80;
$green-hover: #13a872;

$sliderhighlight: #00df96;

$gradient-grey: radial-gradient(circle at 60% 10%,#505B6D, #1E2228);
$gradient-purple: radial-gradient(circle at 60% 10%, #716bf9, #272259);
$gradient-blue: radial-gradient(circle at 60% 10%, #2196f3, #14397c);

$fieldborders: #ABB0B2;