@media screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 700px) and (min-resolution: 144dpi) {
    .logo {
    background-image: url("../img/logo-workflowgen-m-x2.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 160px 30px;
    display: block;
    width: auto;
    margin: auto;
    height: 30px;
    position: relative;
    left: 6%;
    top: 1.3rem;
}


}