@media screen and (min-width: 2000px) {
    .logo {
    left: 25%;
}

.block-1 {
    width: 30%;
    float: left;
    margin-left: 20%}

.block-2 {
    width: 20%;
    float: left;
    margin-left: 10%}

.content {
    width: 50%;
    margin-left: 25%;
}

.footer-container {
    width: 50%;
    margin-left: 25%;
}

.content-revert-mobile {
    width: 50%;
    margin-left: 25%;
}

.contentheader {
    width: 50%;
    margin-left: 25%;
}

.menu {
    width: 50%;
    margin-left: 25%;
}

.formcontent {
    width: 30%;
    margin-left: 35%;
    position: relative;
    float: left;
}

.split2-a.resources {
    width: 40%;
    float: left;
    margin-left: 10%;
}

.split2-b.resources {
    width: 40%;
    float: left;
    margin-left: 10%;
}

}