RewriteCond %{HTTP_HOST} ^community\.workflowgen\.fr$ [OR]
RewriteCond %{HTTP_HOST} ^www\.community\.workflowgen\.fr$
RewriteRule ^/?$ "https\:\/\/www\.workflowgen\.com\/fr" [R=301,L]

RewriteCond %{HTTP_HOST} ^community\.workflowgen\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.community\.workflowgen\.com$
RewriteRule ^/?$ "https\:\/\/www\.workflowgen\.com" [R=301,L]

RewriteEngine On

# Arnaud: 404 redirect to 404.html page
ErrorDocument 404 /en/404/

# Arnaud: Google Ads
RewriteRule ^WorkflowGen/Software https://www.workflowgen.com [R=301,L]
RewriteRule ^BPM/Software https://www.workflowgen.com [R=301,L]

# documentation: 
RewriteRule ^resources/documentation/ https://www.workflowgen.com/en/workflow-software-documentation/ [R=301,L]

# Downloads
RewriteRule ^resources/downloads/ https://discuss.workflowgen.com/c/announcements/release-notes

# Resources: 
RewriteRule ^resources/ https://www.workflowgen.com/en/workflow-software-resources/ [R=301,L]

# Arnaud: 404 for non mobile friendly docs
RewriteRule ^docs/(.*)/api/html/(.*) - [R=404,L]
RewriteRule ^docs/wfgmy/(.*) - [R=404,L]

# Arnaud: /docs/...  => http://docs.worflowgen.com/...
RewriteRule ^docs/(.+)$ http://docs.workflowgen.com/$1 [R=301,NC,L]

# Arnaud: 404 for Google old publigen backlinks
RewriteRule ^scripts/home/publigen/content/(.*) - [R=404,L]

RewriteCond %{SERVER_PORT} ^80$
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^workflowgen\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.workflowgen\.com$
RewriteRule ^en\/?$ "https\:\/\/www\.workflowgen\.com\/" [R=301,L]

Redirect 301 /fr/fonctionnalites-logiciel-workflow/ https://www.workflowgen.com/fr/fonctionnalites-logiciel-gestion-workflow/
Redirect 301 /fr/clients-bpm/ https://www.workflowgen.com/fr/clients-logiciel-bpm/
Redirect 301 /fr/tarif-logiciel-workflow/ https://www.workflowgen.com/fr/tarif-logiciel-gestion-workflow/
Redirect 301 /fr/resources/ https://www.workflowgen.com/fr/ressources-logiciel-workflow/
Redirect 301 /fr/resources/documentation/ https://www.workflowgen.com/fr/documentation-logiciel-workflow/
Redirect 301 /fr/resources/support/ https://www.workflowgen.com/fr/support/
Redirect 301 /fr/resources/telechargements/ https://www.workflowgen.com/en/workflow-software-resources/
Redirect 301 /fr/resources/demarrage-rapide/ https://www.workflowgen.com/en/workflow-software-resources/
Redirect 301 /fr/resources/installation-du-logiciel-de-workflow-workflowgen/ https://www.workflowgen.com/en/workflow-software-resources/
Redirect 301 /fr/resources/formation-logiciel-workflow/ https://www.workflowgen.com/en/workflow-software-resources/
Redirect 301 /fr/bibliotheque-de-processus/ https://www.workflowgen.com/en/workflow-software-resources/
Redirect 301 /fr/telecharger-logiciel-workflow-gratuit/ https://www.workflowgen.com/fr/telecharger-logiciel-workflow-gratuit/
Redirect 301 /fr/videos/ https://www.workflowgen.com/en/workflow-software-resources/
Redirect 301 /fr/evaluations-temoignages-logiciel-workflow/ https://www.workflowgen.com/fr/clients-logiciel-bpm/

Redirect 301 /workflow-management-software-features/ https://www.workflowgen.com/en/workflow-management-software-features/
Redirect 301 /bpm-customers/ https://www.workflowgen.com/en/bpm-software-customers/
Redirect 301 /pricing-workflow-management-software/ https://www.workflowgen.com/en/pricing-workflow-management-software/
Redirect 301 /business-process-templates/ https://www.workflowgen.com/en/workflow-software-resources/
Redirect 301 /kb/ https://www.workflowgen.com/en/workflow-software-resources/
Redirect 301 /download-free-workflow-software/ https://www.workflowgen.com/en/download-free-workflow-software/
Redirect 301 /about-workflowgen-advantys/ https://www.workflowgen.com/en/about-workflowgen-advantys/
Redirect 301 /bpm-workflow-software-news/ https://www.workflowgen.com/en/bpm-workflow-software-news/
Redirect 301 /contact/ https://www.workflowgen.com/en/contact/
Redirect 301 /videos/ https://www.workflowgen.com/en/workflow-software-resources/
Redirect 301 /workflow-management-software-reviews-testimonials/ https://www.workflowgen.com/en/bpm-software-customers/
Redirect 301 /resources/creating-process/ https://www.workflowgen.com/en/workflow-software-resources/
Redirect 301 /kb/how-to-use-quick-mass-approval/ https://www.workflowgen.com/en/workflow-software-resources/
Redirect 301 /kb/how-to-use-the-dashboard/ https://www.workflowgen.com/en/workflow-software-resources/
Redirect 301 /kb/advanced-view-custom-charts/ https://www.workflowgen.com/en/workflow-software-resources/